$font-stack:'Montserrat', sans-serif;
$primary-color: #333;
div{
	text-align: center;
}

form {
	margin: 5px;
	padding: 15px;
}
ul {
	margin: 25px;
	padding: 5px;
	display: flex;
	list-style-type: disc;
	font-family: $font-stack !important;
	text-decoration: none;

}

ul {
  li {
  	text-decoration: none;
    color: ligthgray;
    font-size: 1rem;
  }
}
label {
	font-size: 1rem;
	color:black;
	text-align: left;
	padding-left: 0 !important;
	}
button {
	margin: 0.5rem;
	
}