<h4>{{ title }}</h4>
<div style="text-align:left" [ngStyle]="{'cursor': 'pointer'}">
<ul class="list-group">
  <li class="list-group-item">
      <ul class="list-group">
          <li>Nombres: <strong>{{ datos.nombres }}</strong></li>
          <li>Apellidos: <strong>{{ datos.apellidos }}</strong></li>
          <li>Fecha Nac.: <strong>{{ datos.fechaNacimiento | date }}</strong></li>
          <li>Edad: <strong>{{ datos.edad }}</strong></li>
          <li>Genero: <strong>{{ datos.sexo }}</strong></li>
          <li>Pais: <strong>{{ datos.pais }}</strong></li>
          <li>Email: <strong>{{ datos.email }}</strong></li>
        </ul>
  </li>
</ul>
</div>

