<div class="row" style="text-align:center">
	<h1><strong>Prácticas del Curso de Angular Nairobi Manrique!</strong></h1>
	<div class="col-lg-6">
		<h4>{{ componente }}</h4>
		<div style="text-align:left">
			<form class="form-control">
				<h5 align="center">Formulario Registro de datos:</h5>
				<label for="text-nombre" class="col-8 col-form-label form-check-label">Nombres: </label>
				<div class="input-group mb-2 mr-sm-2 mb-sm-0 has-warning">
					<div class="input-group-addon"></div>
					<input type="text" class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0 form-control-warning" id="nombres" name=nombres [(ngModel)]="datosDTO.nombres"  required > 
				</div>
				<label for="text-apellido" class="col-8 col-form-label form-check-label">Apellidos: </label>
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon"></div>
					<input type="text" id=apellidos name=apellidos placeholder="Ingrese Apellidos ..." class="form-control form-control-sm" [(ngModel)]="datosDTO.apellidos" required/>
				</div>
				<label for="date-birthday" class="col-8 col-form-label form-check-label" >Fecha de Nacimiento: </label> 
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon"></div>
					<input type="date" id=fechaNacimiento name=fechaNacimiento class="form-control form-control-sm" 
					[(ngModel)]="datosDTO.fechaNacimiento" (ngModelChange)="calculateAge($event)"  required />
				</div>
				<label for="text-sexo" class="col-8 col-form-label form-check-label">Genero: </label>
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon"></div>
					<select #selectElem (change)="setNewSexo(selectElem.value)" class="form-control form-control-sm">
       					<option *ngFor="let sexo of Sexo" [value]="sexo.Name">
           					 {{sexo.Name}}
        				</option>
    				</select>
				</div>
				<label for="text-pais" class="col-8 col-form-label form-check-label">País: </label>
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon"></div>
					<input type="text" id=pais name=pais placeholder="Ingrese pais ..." class="form-control form-control-sm" [(ngModel)]="datosDTO.pais" required/>
				</div>
				<label for="text-email" class="col-8 col-form-label form-check-label">Email: </label>
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon input-group-sm">@</div>
					<input type="email" id=email name=email placeholder="ejercicio@example.com" class="form-control form-control-sm" [(ngModel)]="datosDTO.email" required/>
				</div>
				<label for="text-edad" class="col-8 col-form-label form-check-label">Edad: </label>
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<div class="input-group-addon"></div>
					<input type="text" id=edad name=edad class="form-control form-control-sm" [(ngModel)]="edad" disabled/>
				</div>
			</form>

		</div>
	</div>
	<div class="col-lg-6">

		<div style="text-align:center">
			<app-prueba1 
			[datos] = "datosDTO" 
			[edad] = "edad"
			(fechanac) ="fechaOutput($event)"> 
		</app-prueba1>
	</div>

</div>
</div>



